body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding-bottom: 5vh;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
    display: flex;
    flex-direction: column;
 }
 
#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
.contenedor{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}

#logo{
    width: 22vw;
    object-fit: contain;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    padding-top: 5vh;
    padding-bottom: 6vh;
    overflow: hidden;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegador_boton{
    width: 20vw;
}

#datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6vw;
}


#perfil-logo{
    margin-right: -0.5vw;
    width: 3vw;
}

#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
}

.contenedor_eventos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#ev_01{
    background-size: 100% 100%;
    background-image: url("assets/portadas/FortnitePortada1.jpg");
}
#ev_02{
    background-size: 100% 100%;
    background-image: url("assets/portadas/ValorantPortada1.png");
}
.link_evento{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 20vh;
	border-radius: 5vmin;
	min-height: 200px;
	padding: 20px;
    cursor: pointer;
}
.contendor_Titulo{
    justify-content: center;
}


#ev_03{
    background-size: 100% 100%;
    background-image: url("assets/portadas/FFPortada1.jpg");
}
.textos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh;
    color: aliceblue;
}

.eventos{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}