body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding-bottom: 5vh;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
 
    display: flex;
    flex-direction: column;
    
    ;
    
 }
#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
 #logo{
    width: 22vw;
    object-fit: contain;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    padding-top: 5vh;
    padding-bottom: 6vh;
    overflow: hidden;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegador_boton{
    width: 20vw;
}

#datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6vw;
}

#perfil-div{
    display: flex;
    flex-direction: row;
}

#perfil-logo{
    margin-right: -0.5vw;
    width: 3vw;
}

#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
}