body{
    width: 100vw;
    height: auto;
    margin: 0px;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
    
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
}

.box_contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: auto;
    margin-left: 5vw;
    
}
.div-titulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
}
.div-subtitulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 2vw;
}
.box-descripcion{
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: 80%;
    height: auto;
    text-align: justify;
    padding: 1vw;
    margin-bottom: 2vw;
}
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-popup{
    display: flex;
    height: 10vh;
    font-size: 36px;
    font-weight: 600;
    margin:0;
    font-family:'Lato', sans-serif;
    color: white;
}

.popup{
    display: flex;
    flex-wrap: wrap;
}

.dato-input{
    font-size: 26px;
    margin-bottom: 40px;
    font-weight: 300;
    color: white;
    font-family:'Lato', sans-serif;
}

.caja-input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
}

.visibilidad-oculta{
    visibility: hidden;
}

.visibilidad{
    visibility: visible;
}

#cerrar{
    margin-top: 2vh;
}

.boton-popup{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6vw;
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: 100%;
}

.popup{
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
    box-shadow: 0xp 0xp 5xp 0xp rgba(0,0,0,.3);
    border-radius: 1vw;
    padding: 8vw;
    text-align: center;
    width: 15vw;
    min-width: 30px;

}
#t1{
    font-weight: bold;
    font-size: 1.65vw;
}
.Descripcion-datos{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    width: auto;
    height: 100%;
    line-height: calc(6px + 1vw);
    font-size: calc(6px + 1vw);
}
.logo_participantes{
    width: 2vw;
    min-width: 20px;
    object-fit: contain;
}
#Reglas{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    line-height: calc(6px + 1vw);
    font-size: calc(6px + 1vw);
}

.box-reglas{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: 80%;
    height: auto;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: 0vw;
}

#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
#logo{
    width: 22vw;
    object-fit: contain;
    min-width: 150px;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    min-height: 10vmax;
    min-width: 351px;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5vw;
    margin-left: 2vw;
}

.navegador_boton{
    width: 20vw;
    min-width: 200px;
    justify-self: center;
    align-self: center;
}

#datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


#perfil-logo{
    margin-right: -0.5vw;
    width: 3vw;
    min-width: 30px;
}

#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
    min-width: 30px;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
    min-width: 30px;
}

@media only screen and (max-width: 867px) {
    #marca{
        order: 1;
        margin-right: 10vw;
    }

    #datos{
        order: 3;
        width: 100%;
    }

    #perfil-div{
        order: 2;
        margin-left: 6vw;
    }
}
.logo-evento{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1vw;
    min-width: 3vw;
}
.box_derecha{
    gap: 1vh;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    min-width: 200px;
    width: 30vw;
}
.jugadores-evento{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin-right: 0.5vw;
    font-size: calc(12px + 0.7vw);
}
.box-evento-b-2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 3vw;
    min-width: 00px;
    
}
.box-botones{
    width: 20vw;
}
.box_izq{
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 600px;
    margin-bottom: 2vw
}


.box_logo_evento{
    overflow: hidden;
}

.logo_participantes{
    width: 3vw;
    min-width: 20px;
    object-fit: contain;
    
}
.boton_participantes{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1vw;
    padding: 0.6vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: 12vw;
}


.boton_resultados{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6vw;
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: 18vw;
}

.box-fecha{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.2vw;
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: 1000%;
    height: auto;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: vw;
}