body{
    width: 100vw;
    height: 100%;
    margin: 0px;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
    padding-bottom: 10vh;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
}

.box_contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-around;
    padding: 10vw auto 8vw 10vw;
    row-gap: 50px;
}
.div-titulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    font-size: calc(20px + 1vw);
    margin-bottom: 1vw;
    width: 80%;
}
.div-subtitulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    font-size: calc(20px + 0.5vw);
    margin-bottom: 2vw;
    width: 80%;
}
.box-descripcion{
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: auto;
    height: auto;
    text-align: justify;
    padding: 1vw;
    margin-bottom: 2vw;
}
.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-popup{
    display: flex;
    height: 10vh;
    font-size: calc(12px + 1vw);
    font-weight: 600;
    font-family:'Lato', sans-serif;
    color: white;
}

.dato-input{
    font-size: calc(6px + 1vw);
    margin-bottom: 40px;
    font-weight: 300;
    color: white;
    font-family:'Lato', sans-serif;
}

.caja-input{
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #1890ff;
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: calc(6px + 1vw);
    text-align: center;
}

.visibilidad-oculta{
    visibility: hidden;
}

.no-mostrar{
    display: none !important;
}

.visibilidad{
    visibility: visible;
}

#cerrar{
    margin-top: 2vh;
}

.boton-popup{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(12px + 1vw);
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: 100%;
}

.popup{
    background: #1d1f5c;

    box-shadow: 0xp 0xp 5xp 0xp rgba(0,0,0,.3);
    border-radius: 1vw;
    padding: 5vw;
    column-gap: 2vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30vw;
    height: 60vh;
}

#t1{
    font-weight: bold;
    font-size: calc(20px + 0.8vw);
}
.Descripcion-datos{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    width: auto;
    height: 100%;
    line-height: calc(10px + 1vw);
    font-size: calc(10px + 0.8vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo_participantes{
    width: 2vw;
    min-width: 20px;
    object-fit: contain;
}
#Reglas{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: normal;
    line-height: calc(6px + 1vw);
    font-size: calc(6px + 1vw);
}

.box-reglas{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: auto;
    height: auto;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: 0vw;
}

#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
#logo{
    width: 22vw;
    object-fit: contain;
    min-width: 150px;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    min-height: 10vmax;
    min-width: 351px;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5vw;
    margin-left: 2vw;
}

.navegador_boton{
    width: 20vw;
    min-width: 200px;
    justify-self: center;
    align-self: center;
}

#datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
    min-width: 30px;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
    min-width: 30px;
}

.logo-evento{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1vw;
    min-width: 3vw;
}
.box_derecha{
    gap: 1vh;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    min-width: 400px;
    width: 30vw;
    order: 2;
    justify-content: center;
}
.jugadores-evento{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    margin-right: 0.5vw;
    font-size: calc(12px + 0.7vw);
}
.box-evento-b-2-2{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 3vw;
    min-width: 20px;
    margin-left: 20px;
}
.box-botones{
    display: flex;
    flex-direction: row;
}
.box_izq{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    min-width: 300px;
    align-self: center;
    order: 1;
}


.box_logo_evento{
    overflow: hidden;
}

.logo_participantes{
    width: 3vw;
    min-width: 20px;
    object-fit: contain;
    
}
.boton_participantes{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(20px + 0.3vw);
    padding: 0.6vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: auto;
}

.boton_resultados{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(20px + 0.3vw);
    padding: 0.6vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: auto;
}

.boton_participar{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(20px + 0.5vw);
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background: linear-gradient(180deg, rgb(79, 142, 202) 0%, rgb(62, 99, 173) 35%, rgb(23, 29, 41) 100%);
    width: auto;
    margin-right: 2vw;
}

.boton_participar_2{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(20px + 0.5vw);
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    width: auto;
    margin-right: 2vw;
}

.boton_participar_3{
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(20px + 0.5vw);
    padding: 1vw;
    border-radius: 0.4vw;
    border: none;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width: auto;
    margin-right: 2vw;
}

.box-fecha{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1.2vw;
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width: 1000%;
    height: auto;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: vw;
}

.centrarTXT{
    text-align: center;
    font-size: calc(15px + 0.5vw);
    font-weight: bold;
}

.datos-popup{
    font-size: calc(15px + 0.7vw);
    height: 70%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#titulo-popup-2{
    display: flex;
    height: 10vh;
    font-size: calc(12px + 1vw);
    font-weight: 600;
    font-family:'Lato', sans-serif;
    color: white;
    margin-top: 0vw;

}

.participa-boton{
    z-index: 1;
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    font-size: calc(13px + 0.5vw);
    align-self: center;
}


@media only screen and (max-width: 1000px) {
    #marca{
        order: 1;
        margin-right: 10vw;
    }

    #datos{
        order: 3;
        width: 100%;
    }

    #perfil-div{
        order: 2;
        margin-left: 6vw;
    }
    .popup{
        width: 90vw;
        padding: 0px 0px 20px 0px;
    }
}