body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding-bottom: 5vh;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
}
.box_contenedor{
    display: flex;
    flex-direction: row;
}
#Info{
    margin-top: 5vw;
    margin-left: 4vw;

}
.div-titulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold 
}
.div-subtitulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold 
}
.box-descripcion{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width:35vw;
    height: 7vw;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin-bottom: 2vw;

}
.Descripcion-datos{
    
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    width: 10vw;
    line-height: 1.08vw;
    ;
}

#Reglas{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    width: 35vw;
    text-align: justify;
    line-height: 1.08vw;
}

.box-reglas{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width:35vw;
    height: 7vw; 
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: 0vw;

}

#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
.contenedor{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}

#logo{
    width: 22vw;
    object-fit: contain;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    padding-top: 5vh;
    padding-bottom: 6vh;
    overflow: hidden;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegador_boton{
    width: 20vw;
}

#datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6vw;
}


#perfil-logo{
    margin-right: -0.5vw;
    width: 3vw;
}

#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
}