body{
    width: auto;
    height: auto;
    margin: 0px;
    background: rgb(1,36,64);
    background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
}

html{
    overflow: hidden;
}

.box_contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 5vh 10vw 5vh 10vw;
    overflow-y: scroll;
}
.div-titulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold 
}
.div-subtitulo{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold 
}
.box-descripcion{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width:35vw;
    height: 20vh;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin-bottom: 2vw;

}
.Descripcion-datos{
    
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    width: 10vw;
    line-height: 1.08vw;
    ;
}
.logo_participantes{
    width: 2vw;
    min-width: 20px;
    object-fit: contain;
}
#Reglas{
    color: white;
    font-family:'Lato', sans-serif ;
    font-weight: bold;
    width: 35vw;
    text-align: justify;
    line-height: 1.08vw;
}

.box-reglas{
    background-color: rgb(20, 20, 51);
    line-height: 1.08vw;
    width:35vw;
    height: 20vh;
    text-align: justify;
    right: 10vw;
    padding: 1vw;
    margin: 0vw;
}

#marca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1vw;
    width: 30vw;
}
#logo{
    width: 22vw;
    object-fit: contain;
    min-width: 150px;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    overflow: hidden;
    min-height: 10vmax;
    min-width: 351px;
}


#perfil-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5vw;
    margin-left: 2vw;
}

.navegador_boton{
    width: 20vw;
    min-width: 200px;
    justify-self: center;
    align-self: center;
}

#datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


#perfil-logo{
    margin-right: -0.5vw;
    width: 3vw;
    min-width: 30px;
}

#open-menu-perfil{
    cursor: pointer;
    width: 2.5vw;
    min-width: 30px;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    width: 3vw;
    min-width: 30px;
}

@media only screen and (max-width: 867px) {
    #marca{
        order: 1;
        margin-right: 10vw;
    }

    #datos{
        order: 3;
        width: 100%;
    }

    #perfil-div{
        order: 2;
        margin-left: 6vw;
    }
}
.logo-evento{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    min-width: 3vw;
}
.box_derecha{
    gap: 1vh;
    align-content: center;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
}

.box_izq{
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 200px;
}

.box_logo_evento{
    height: 20vh;
}

.logo_participantes{
    margin-left: 13vw;
}
.boton_resultados{
    padding: 1vw;
}