a:hover{
    color: white;
}

body{
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   margin: 0px;
   padding-bottom: 5vh;
   background: rgb(1,36,64);
   background: linear-gradient(180deg, rgb(0, 13, 23) 0%, rgba(16,51,113,1) 35%, rgb(58, 95, 200) 100%);
   display: flex;
   flex-direction: column;
   align-items: center; 
}

#logo{
    width: 25vw;
    object-fit: contain;
    min-width: 180px;
}

#encabezado{
    background-color: #001b30;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    object-fit: contain;
}


#box-login{
    background-color: #1d1f5c;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    width: 40vw;
    align-items: center;
    font-family: 'Lato', sans-serif;
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 4vh;
    padding: 2vh 5vw 4vh 5vw;
    margin-bottom: 10vh;
    overflow-y: auto;
    border-radius: 2vw;
}

.titulo{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: calc(17px + 1vw);
    cursor: default;
    text-align: center;
}

.datos-titulo{
    color: white;
    font-family: 'Lato', sans-serif;display: flex;
    font-size: calc(8px + 0.8vw);
    font-weight: 500;
    align-self:flex-start;
    padding-left: 20%;
    padding-right: 12%;
    margin-top: 1vh;
}

.datos-caja{
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 6vh;
    border: none;
    border-bottom: 1px solid #1890ff;
    margin-top: 3vmin;
}

::placeholder{
    font-family: 'Lato', sans-serif;
    color: rgb(132, 132, 132);
    font-size: calc(10px + 0.4vw);
 }

.datos-registro{
    color: white;
    background: rgb(0,141,214);
    background: linear-gradient(180deg, rgba(0,141,214,1) 16%, rgba(0,77,134,1) 84%);
}

#boton-submit{
    margin-top: 2vh;
    min-width: 200px;
    width: 16vw;
    height: 7vh;
    min-height: 50px;
    font-size: calc(10px + 0.8vw);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

#yatienecuenta{
    color: rgb(115, 190, 255);
    font-family: 'Lato', sans-serif;
    margin-top: 2vh;
    font-size: calc(10px + 0.5vmin);
    text-decoration: none;
    text-align: center;
    padding: 0px 5vw 0px 5vw;
}

#olvidocuenta{
    color: rgb(115, 190, 255);
    font-family: 'Lato', sans-serif;
    margin-top: 3vh;
    font-size:calc(10px + 0.5vmin);
    text-decoration: none;
    text-align: center;
    padding: 0px 5vw 0px 5vw;
}

#yatienecuenta:hover,#olvidocuenta:hover{
    color: white;
}

@media only screen and (max-width: 700px) {
    #logo{
        width: 30vw;
        object-fit: contain;
    }

    #box-login{
        width: 90vw;
        padding: 0px 0px 20px 0px;
    }


}