html{
    overflow: hidden;
}

a:hover{
    color: white;
}

a{
    text-decoration: none;
}

body{
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   margin: 0px;
   background: #00070c;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
}


#encabezado{
    background-color: #00070c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    object-fit: contain;
    align-items: center;
    padding: 3vh 200px 3vh 200px;
}


#logo{
    width: 20vw;
    object-fit: contain;
    min-width: 200px;
}

#logout-icono{
    margin-left: 2vw;
    cursor: pointer;
    object-fit: contain;
    min-width: 30px;
}

#logoutDiv{
    display: flex;
    flex-direction: row;
}

.cerrarsesion{
    font-size: calc(10px + 1vw);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-right: 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 15vw;
}

#cont-eventos{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.titulo{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: calc(12px + 1.2vw);
    cursor: default;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

#header-div1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

#bot-cancel{
    height: 7vh;
    width: 20vw;
    border-radius: calc(12px + 0.6vw);
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    min-width: 150px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: calc(8px + 1vw);
    border: none;
}

.box-evento{
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    width: 80vw;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding-top: 2vh;
    padding-bottom: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-width: 430px;
    border-radius: 1vw;
    height: auto;
}

.datos-titulo{
    color: white;
    font-family: 'Lato', sans-serif;display: flex;
    font-size: calc(9px + 0.7vw);
    font-weight: 500;
    align-self:center;
    margin-top: 4vh;
}

.datos-caja{
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 3vh;
    border: none;
    border-bottom: 1px solid #1890ff;
    font-size: calc(9px + 0.7vw);
    margin-top: 3vh;
}

::placeholder{
    font-family: 'Lato', sans-serif;
    color: rgb(132, 132, 132);
 }

.datos-registro{
    color: white;
    background: rgb(0,141,214);
    background: linear-gradient(180deg, rgba(0,141,214,1) 16%, rgba(0,77,134,1) 84%);
}


.boton-editar{
    border: none;
    border-radius: 1vw;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );    width: 12vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: calc(9px + 0.7vw);
    cursor: pointer;
    min-width: 150px;
}

.boton-publicarRes{
    border: none;
    border-radius: 1vw;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    width: 20vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: calc(9px + 0.7vw);
    cursor: pointer;
    min-width: 150px;
    margin-top: 3vh;
}

#selecJuego{
    background-color: aliceblue;
    border-radius: 1vw;
    border-color: black;
    border-width: 0.2vw;
    width: 15vw;
    height: 5vh;
    color: rgb(13, 16, 69);
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Lato', sans-serif;display: flex;
    font-size: calc(9px + 0.7vw);
    font-weight: 400;
    text-align: center;
}

.fecha{
    height: 3vw;
    width: 15vw;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: calc(9px + 0.7vw);
    margin-top: 20px;
}


@media only screen and (max-width: 950px) {
    #logo{
        order: 1;
    }

    #header-div1{
        order: 3;
    }

    #logoutDiv{
        order: 2;
        margin-left: 6vw;
    }
  }
